.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.shortcut

# macOS folder icon resource forks
Icon?
Icon
*Icon*

# Local backups / archived versions
_backup/
_old/
